html {
  height: 100%;
  width: 100%;
}.link-button {
  background-color:black;
  color: teal;
  padding: 15px 32px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  margin:4px 2px;
  cursor: pointer;
}

.nav-button{
  background-color:lightcyan;
  color:
  padding: 15px 32px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  margin:4px 2px;
  cursor: pointer;
}

h1{color:darkcyan}
h2{color:darkcyan}
body{background-color: lightgray;}
